# Dependencies
node_modules/
.pnpm-debug.log

# Build files
/.cache
/build
/dist
*.tsbuildinfo

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Test coverage
coverage/
.nyc_output/

# Logs
logsDevEnv/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
otel-logs

# Misc
*.bak
*.tmp
